/* Print Media Selector */
@media print {
    body{
        background-color:white ;
    }
}

/* Media Class Selectors */

@media (max-width:1100px){
    form>input[type=submit] {
        font-size:x-small;
    }

    .large{
        width: 90%;
        margin-left: auto; 
        margin-right: auto;
    }
    
    .medium {
        width: 70%;
        margin-left: auto; 
        margin-right: auto;
    }
    
    .small {
        width: 50%;
        margin-left: auto; 
        margin-right: auto;
    }
}

@media (min-width:1100px){
    
    .large{
        width: 90%;
        margin-left: auto; 
        margin-right: auto;
    }
    
    .medium {
        width: 40%;
        margin-left: auto; 
        margin-right: auto;
    }
    
    .small {
        width: 30%;
        margin-left: auto; 
        margin-right: auto;
    }
    
}

/* Class Selectors */

p {
    font-family: "Helvetica";
}
.box{
    margin-top: 100px;
    margin-bottom: 100px;
}

.bar{
    background-color:rgb(235, 237, 238);
    margin-top: 10;
    margin-bottom: 10;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

/* Tag Selectors */

body {
    text-align:center; 
    background-color: blanchedalmond;
}


form>input[type=submit] {
    background-color: rgb(93, 163, 187);
    color: aliceblue;
    
}

img {
    filter: brightness(110%);
    filter: contrast(120%);
    filter: saturate(1.6);
}

table, th{
    border: 1px solid black;
    text-align: center;
}

ul{
    background: #ff9999;
    list-style-type: square;
    padding: 25px;
    list-style-position: inside;
}

li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
    margin: 5px;
    font-family: "Helvetica";
    font-size: small;
}

h3 {
    text-align:center;
}

span{
    font-style:normal;
}

a {
    text-decoration: none;
}

iframe{
    border: 3px black;
    width: 640px;
    height: 360px;
}

td{
    font-family: "Helvetica";
    font-size: small;
}

/* Media Tag Selectors */
@media (max-width:1622px){
    iframe{
        border: 3px black;
        width: 426px;
        height: 240px;
    }

}

/* Id Selectors */

#menu{
    background-color: whitesmoke;
    background-size: 100%;
}

#menu td, #bottom td {
    background-color: rgb(97, 172, 197);
}

#menu td:hover, #bottom td:hover {
    background-color: yellow;
}

#menu table, #bottom table {
    background-color:rgb(209, 233, 253);
}

#introduction {
    background: #ffe5e5;
    border-width: 5px;
    border-style: solid;
    border-color:#ff9999;
}

#introduction img {
  max-height: 300px;
  border: 5px solid black;
}

#my_education {
    font:italic;
}

#work_exp{
    background: #ffe5e5;
    border-width: 5px;
    border-style: solid;
    border-color:#ff9999;
}

#interests {
    background-color:lightsalmon;
    border-width: 5px;
    border-style: solid;
    border-color:chocolate;
    padding: 10px;
}

#program_skills{
    background-color:lightcyan;
    border-width: 5px;
    border-style: solid;
    border-color:lightslategrey;
    padding: 10px;
}

#favorite_media {
    background-color:khaki;
    border-width: 5px;
    border-style: solid;
    border-color:goldenrod;
    padding: 10px;
}

#favorite_websites{
    background-color: white;
    border-color: 1px solid darkslategray;
    border: 3px solid darkslategray;
}

#favorite_websites> table {
    background-color:#dae9cb;
}

#favorite_websites> td {
    margin-top: 10px;
    margin-bottom: 10px;
}

#favorite_websites> table, th, td {
    border-color: 1px solid black;
    border: 1px solid black;
}

#youtube_color{
    color:red;
}
#itch_color{
    color:rgb(98, 148, 24);
}
#discord_color{
    color:blue;
}
#twitter_color{
    color:rgb(139, 189, 189);
}



#web_dev_projects{
    background-color:#1f294b;
    border-width: 5px;
    border-style: solid;
    border-color:midnightblue;
    padding: 10px;
    color:aliceblue;
}

#web_dev_projects> p, #web_dev_projects> p> a{
    color:aliceblue;
}





